<!-- Footer -->
<footer class="footer">
    <div class="container footer-container">
        <div class="footer-col">
            <h4>HUEH</h4>
            <p>L'Hôpital de l'Université d'État d'Haïti est dévoué à fournir des soins médicaux de qualité supérieure à tous les patients, avec compassion et respect.</p>
            <div class="footer-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="footer-col">
            <h4>Liens utiles</h4>
            <ul class="footer-links">
                <li><a href="#">Accueil</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#about">À propos</a></li>
                <li><a href="#doctors">Médecins</a></li>
                <li><a href="{% url 'faire_don' %}">Contact</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Services</h4>
            <ul class="footer-links">
                <li><a href="{% url 'departements' %}">Cardiologie</a></li>
                <li><a href="{% url 'departements' %}">Neurologie</a></li>
                <li><a href="{% url 'departements' %}">Chirurgie</a></li>
                <li><a href="{% url 'departements' %}">Pédiatrie</a></li>
                <li><a href="{% url 'departements' %}">Radiologie</a></li>
               
            </ul>
        </div>
        <div class="footer-col">
            <h4>Newsletter</h4>
            <p>Abonnez-vous à notre newsletter pour recevoir les dernières nouvelles et mises à jour.</p>
            <form class="footer-form">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Votre email" required>
                </div>
                <button type="submit" class="btn btn-submit">S'abonner</button>
            </form>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p>&copy; 2023 Hôpital de l'Université d'État d'Haïti. Tous droits réservés.</p>
        </div>
    </div>
</footer>
