<!-- Scroll to top button -->
<div class="scroll-top">
    <i class="fas fa-arrow-up"></i>
  </div>
  
  <!-- Header -->
  <header class="header bg-white shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light container">
      <a class="navbar-brand" href="{% url 'index' %}">
        <span class="logo-text">HUEH</span>
        <div class="subtitle">Hôpital de l'Université d'État d'Haïti</div>
      </a>
  
      <!-- Burger Button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvas" aria-controls="navbarOffcanvas" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Menu normal pour desktop -->
      <div class="collapse navbar-collapse d-none d-lg-flex" id="navbarContent">
        <ul class="navbar-nav ms-auto align-items-lg-center gap-3">
  
          <li class="nav-item">
            <a class="nav-link fw-bold" href="{% url 'index' %}">Accueil</a>
          </li>
  
          <!-- Dropdown Gestion Médicale -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-bold" href="#" id="gestionDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Gestion Médicale
            </a>
            <ul class="dropdown-menu" aria-labelledby="gestionDropdown">
              <li><a class="dropdown-item" href="{% url 'medecins_list' %}">Médecins</a></li>
              <li><a class="dropdown-item" href="{% url 'patients_list' %}">Patients</a></li>
              <li><a class="dropdown-item" href="{% url 'consultations_list' %}">Consultations</a></li>
              <li><a class="dropdown-item" href="{% url 'prescriptions_list' %}">Prescriptions</a></li>
              <li><a class="dropdown-item" href="{% url 'dossiers_list' %}">Dossiers</a></li>
              {% if user.is_superuser %}
              <li><a class="dropdown-item" href="{% url 'ajouter_entite' 'patient' %}">Ajouter un patient</a></li>
              <li><a class="dropdown-item" href="{% url 'ajouter_entite' 'medecin' %}">Ajouter un médecin</a></li>
              <li><a class="dropdown-item" href="{% url 'ajouter_entite' 'consultation' %}">Ajouter une consultation</a></li>
              <li><a class="dropdown-item" href="{% url 'ajouter_entite' 'prescription' %}">Ajouter une prescription</a></li>
              <li><a class="dropdown-item" href="{% url 'ajouter_entite' 'dossier' %}">Ajouter un dossier</a></li>
              {% endif %}
            </ul>
          </li>
  
          <li class="nav-item">
            <a class="nav-link fw-bold" href="{% url 'departements' %}">Départements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="{% url 'apropos' %}">Qui?</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link fw-bold" href="{% url 'recherche_globale' %}">Recherche</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link fw-bold" href="{% url 'contact' %}">Contact</a>
          </li>
  
          {% if user.is_authenticated %}
          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="btn btn-primary" href="{% url 'admin:index' %}">
              <i class="fas fa-user-astronaut"></i> <!-- Accès Admin Django -->
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="btn btn-info" href="{% url 'profile' %}">
              <i class="fas fa-user-circle"></i> <!-- Voir son profil -->
            </a>
          </li>
          {% endif %}
          {% else %}
          <li class="nav-item">
            <a class="btn btn-success" href="{% url 'login' %}">
              <i class="fas fa-user"></i> <!-- Connexion -->
            </a>
          </li>
          {% endif %}
  
        </ul>
      </div>
  
    </nav>
  
    <!-- Offcanvas Menu pour mobile -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="navbarOffcanvas" aria-labelledby="navbarOffcanvasLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title text-center text-primary font-weight-bold" id="navbarOffcanvasLabel" style="font-size: 1.5rem; letter-spacing: 1px; text-transform: uppercase;">
            Menu
          </h5>
          
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav ms-auto align-items-lg-center gap-3">
  
          <li class="nav-item">
            <a class="nav-link fw-bold" href="{% url 'index' %}">Accueil</a>
          </li>
  
          <!-- Dropdown Gestion Médicale -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-bold" href="#" id="gestionDropdownOffcanvas" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Gestion Médicale
            </a>
            <ul class="dropdown-menu" aria-labelledby="gestionDropdownOffcanvas">
              <li><a class="dropdown-item" href="{% url 'medecins_list' %}">Médecins</a></li>
              <li><a class="dropdown-item" href="{% url 'patients_list' %}">Patients</a></li>
              <li><a class="dropdown-item" href="{% url 'consultations_list' %}">Consultations</a></li>
              <li><a class="dropdown-item" href="{% url 'prescriptions_list' %}">Prescriptions</a></li>
              <li><a class="dropdown-item" href="{% url 'dossiers_list' %}">Dossiers</a></li>
              {% if user.is_superuser %}
              <li><a class="dropdown-item" href="{% url 'ajouter_entite' 'patient' %}">Ajouter un patient</a></li>
              <li><a class="dropdown-item" href="{% url 'ajouter_entite' 'medecin' %}">Ajouter un médecin</a></li>
              <li><a class="dropdown-item" href="{% url 'ajouter_entite' 'consultation' %}">Ajouter une consultation</a></li>
              <li><a class="dropdown-item" href="{% url 'ajouter_entite' 'prescription' %}">Ajouter une prescription</a></li>
              <li><a class="dropdown-item" href="{% url 'ajouter_entite' 'dossier' %}">Ajouter un dossier</a></li>
              {% endif %}
            </ul>
          </li>
  
          <li class="nav-item">
            <a class="nav-link fw-bold" href="{% url 'departements' %}">Départements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="{% url 'apropos' %}">À propos</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link fw-bold" href="{% url 'recherche_globale' %}">Recherche</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link fw-bold" href="{% url 'contact' %}">Contact / Rendez-vous</a>
          </li>
  
          {% if user.is_authenticated %}
          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="btn btn-primary" href="{% url 'admin:index' %}">
              <i class="fas fa-user-astronaut"></i>Administrateur
              <!-- Accès Admin Django -->
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="btn btn-info" href="{% url 'profile' %}">
              <i class="fas fa-user-circle"></i>Mon Profil
              <!-- Voir son profil -->
            </a>
          </li>
          {% endif %}
          {% else %}
          <li class="nav-item">
            <a class="btn btn-success" href="{% url 'login' %}">
              <i class="fas fa-user"></i>Se Connecter
              <!-- Connexion -->
            </a>
          </li>
          {% endif %}
  
        </ul>
      </div>
    </div>
  
  </header>