{% extends "base.html" %}
{% load static %}

{% block title %}Baouly'S Hosto
{% endblock %}



{% block content %}
<div class="container mt-5">
    <div class="hero">
        <h1>Bienvenue a l'Hôpital</h1>
        <p>Utilisez le menu pour accéder aux différentes sections.</p>
    </div>

    <ul class="list-group">
        <li class="list-group-item">
            <a href="{% url 'liste_entites' 'patient' %}">Voir la liste des patients</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'liste_entites' 'medecin' %}">Voir la liste des médecins</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'liste_entites' 'consultation' %}">Voir la liste des consultations</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'liste_entites' 'prescription' %}">Voir la liste des prescriptions</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'liste_entites' 'dossier' %}">Voir la liste des dossiers</a>
        </li>
       
    </ul>
</div>

{% include "partials/commentaires.html" %}


<script src="{% static 'js/recherche.js' %}"></script>

{% endblock %}
