{% extends "base.html" %}

{% block title %}Ajouter entite{% endblock %}
  
    {% block content %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/formulaire.css' %}">

    <h1>Ajouter {{ type_entite|capfirst }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Ajouter</button>
         <!-- Correction : on passe 'type_entite' à l'URL -->
    <a href="{% url 'liste_entites' type_entite %}"class="btn btn-warning">annuler </a>
    </form>
   
    {% endblock %}
