{% extends "base.html" %} {% block title %}Recherche{% endblock %}  {% load static %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/recherche.css' %}">
{% endblock %}

{% block content %}
<form
  method="GET"
  action="{% url 'recherche' %}"
  id="search-form"
  style="display: none"
>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      name="q"
      placeholder="Rechercher..."
      aria-label="Rechercher"
      value="{{ request.GET.q }}"
    />
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">Rechercher</button>
    </div>
  </div>
</form>
<a href="{% url 'index' %}" class="btn btn-secondary">Retour à l'Accueil</a>

{% endblock %}
