{% extends "base.html" %} {% block title %}Baouly'S Hosto
{%endblock %}  
{% load static %}
{% block content %}


<!-- Hero Section -->
<section class="hero">
  <div class="container">
      <div class="hero-content">
          <h1 class="hero-title">Votre santé est notre priorité</h1>
          <p class="hero-text">L'Hôpital de l'Université d'État d'Haïti (HUEH) est dévoué à fournir des soins médicaux de qualité supérieure à tous les patients. Notre équipe de professionnels qualifiés est à votre service 24h/24 et 7j/7.</p>
          <a href="{% url 'departements' %}" class="btn btn-primary btn-lg rounded-pill shadow">
            <i class="fas fa-stethoscope me-2"></i> Découvrir nos services
        </a>
        
      </div>
  </div>
</section>


  
{% include "partials/actualites.html" %}
{% include "partials/qui.html" %}
{% include "partials/commentaires.html" %}


{% endblock %}
