{% extends "base.html" %} {% block title %}Baouly'S Hosto
{%endblock %}  
{% load static %}
{% block content %}


<div class="container mt-5">
  <div class="hero">
    <h1>Bienvenue a l'Hôpital</h1>
    <p>Utilisez le menu pour accéder aux différentes sections.</p>
  </div>

  <ul class="list-group">
    <li class="list-group-item">
      <a href="{% url 'ajouter_entite' 'patient' %}">Ajouter un patient</a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'ajouter_entite' 'medecin' %}">Ajouter un médecin</a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'ajouter_entite' 'consultation' %}"
        >Ajouter une consultation</a
      >
    </li>
    <li class="list-group-item">
      <a href="{% url 'ajouter_entite' 'prescription' %}"
        >Ajouter une prescription</a
      >
    </li>
    <li class="list-group-item">
      <a href="{% url 'ajouter_entite' 'dossier' %}">Ajouter un dossier</a>
    </li>

    <li class="list-group-item">
      <a href="{% url 'patients_list' %}">Voir la liste des patients</a>
  </li>
  <li class="list-group-item">
      <a href="{% url 'medecins_list' %}">Voir la liste des médecins</a>
  </li>
  <li class="list-group-item">
      <a href="{% url 'consultations_list' %}">Voir la liste des consultations</a>
  </li>
  <li class="list-group-item">
      <a href="{% url 'prescriptions_list' %}">Voir la liste des prescriptions</a>
  </li>
  <li class="list-group-item">
      <a href="{% url 'dossiers_list' %}">Voir la liste des dossiers</a>
  </li>
  </ul>
</div>

{% include "partials/commentaires.html" %}


<script src="{% static 'js/recherche.js' %}"></script>

{% endblock %}
