{% extends "base.html" %}
{% block title %}Liste des entités{% endblock %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}
{% block content %}

{% if patients %}
<h2>Liste des Patients</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Sexe</th>
      <th>Téléphone</th>
      <th>Adresse</th>
      {% if user.is_authenticated and user.is_superuser %}
        <th>Actions</th>
      {% endif %}
      <th>Commentaires</th> <!-- Nouvelle colonne pour les commentaires -->
    </tr>
  </thead>
  <tbody>
    {% for patient in patients %}
    <tr>
      <td>{{ patient.nom }}</td>
      <td>{{ patient.prenom }}</td>
      <td>{{ patient.sexe }}</td>
      <td>{{ patient.tel }}</td>
      <td>{{ patient.adresse }}</td>
      {% if user.is_authenticated and user.is_superuser %}
      <td>
        <a href="{% url 'modifier_entite' 'patient' patient.id %}" class="btn btn-warning btn-sm me-2" title="Modifier">
          <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'supprimer_entite' 'patient' patient.id %}" class="btn btn-danger btn-sm" title="Supprimer">
          <i class="fas fa-trash-alt"></i>
        </a>
      </td>
      {% endif %}
      <td>
        {% if user.is_authenticated %}
        <a href="{% url 'ajouter_commentaire' content_type.id patient.id %}" class="btn btn-info btn-sm">
         <i class="fas fa-plus"></i> <!-- Icône d'ajout -->
      </a>
      
        </a>

        {% endif %}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="7" class="text-center">Aucun patient trouvé.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if user.is_authenticated and user.is_superuser %}
<a href="{% url 'ajouter_entite' 'patient' %}" class="btn btn-primary">
  Ajouter
</a>
{% endif %}
{% endif %}

{% if medecins %}
<h2>Liste des Médecins</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Sexe</th>
      <th>Téléphone</th>
      <th>Adresse</th>
      <th>Email</th>
      <th>Spécialité</th>
      {% if user.is_authenticated and user.is_superuser %}
        <th>Actions</th>
      {% endif %}
      <th>Commentaires</th>
    </tr>
  </thead>
  <tbody>
    {% for medecin in medecins %}
    <tr>
      <td>{{ medecin.nom }}</td>
      <td>{{ medecin.prenom }}</td>
      <td>{{ medecin.sexe }}</td>
      <td>{{ medecin.tel }}</td>
      <td>{{ medecin.adresse }}</td>
      <td>{{ medecin.email }}</td>
      <td>{{ medecin.specialite }}</td>
      {% if user.is_authenticated and user.is_superuser %}
      <td>
        <a href="{% url 'modifier_entite' 'medecin' medecin.id %}" class="btn btn-warning btn-sm me-2" title="Modifier">
          <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'supprimer_entite' 'medecin' medecin.id %}" class="btn btn-danger btn-sm" title="Supprimer">
          <i class="fas fa-trash-alt"></i>
        </a>
      </td>
      {% endif %}
      <td>
        {% if user.is_authenticated %}
        <a href="{% url 'ajouter_commentaire' content_type_id=content_type.id object_id=medecin.id %}" class="btn btn-info btn-sm">
         <i class="fas fa-plus"></i> <!-- Icône d'ajout -->
        </a>
        {% endif %}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="8" class="text-center">Aucun médecin trouvé.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if user.is_authenticated and user.is_superuser %}
<a href="{% url 'ajouter_entite' 'medecin' %}" class="btn btn-primary">
  Ajouter
</a>
{% endif %}
{% endif %}

{% if consultations %}
<h2>Liste des Consultations</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID Médecin</th>
      <th>ID Patient</th>
      <th>Poids</th>
      <th>Hauteur</th>
      <th>Diagnostique</th>
      <th>Date Consultation</th>
      {% if user.is_authenticated and user.is_superuser %}
        <th>Actions</th>
      {% endif %}
      <th>Commentaires</th>
    </tr>
  </thead>
  <tbody>
    {% for consultation in consultations %}
    <tr>
      <td>{{ consultation.idmedecin }}</td>
      <td>{{ consultation.idpatient }}</td>
      <td>{{ consultation.poids }}</td>
      <td>{{ consultation.hauteur }}</td>
      <td>{{ consultation.diagnostique }}</td>
      <td>{{ consultation.date_consultation }}</td>
      {% if user.is_authenticated and user.is_superuser %}
      <td>
        <a href="{% url 'modifier_entite' 'consultation' consultation.id %}" class="btn btn-warning btn-sm me-2" title="Modifier">
          <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'supprimer_entite' 'consultation' consultation.id %}" class="btn btn-danger btn-sm" title="Supprimer">
          <i class="fas fa-trash-alt"></i>
        </a>
      </td>
      {% endif %}
      <td>
        {% if user.is_authenticated %}
        <a href="{% url 'ajouter_commentaire' content_type_id=content_type.id object_id=consultation.id %}" class="btn btn-info btn-sm">
         <i class="fas fa-plus"></i> <!-- Icône d'ajout -->
        </a>
        {% endif %}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="7" class="text-center">Aucune consultation trouvée.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if user.is_authenticated and user.is_superuser %}
<a href="{% url 'ajouter_entite' 'consultation' %}" class="btn btn-primary">
  Ajouter
</a>
{% endif %}
{% endif %}

{% if prescriptions %}
<h2>Liste des Prescriptions</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID Consultation</th>
      <th>Prescription</th>
      {% if user.is_authenticated and user.is_superuser %}
        <th>Actions</th>
      {% endif %}
      <th>Commentaires</th>
    </tr>
  </thead>
  <tbody>
    {% for prescription in prescriptions %}
    <tr>
      <td>{{ prescription.idconsultation }}</td>
      <td>{{ prescription.prescription }}</td>
      {% if user.is_authenticated and user.is_superuser %}
      <td>
        <a href="{% url 'modifier_entite' 'prescription' prescription.id %}" class="btn btn-warning btn-sm me-2" title="Modifier">
          <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'supprimer_entite' 'prescription' prescription.id %}" class="btn btn-danger btn-sm" title="Supprimer">
          <i class="fas fa-trash-alt"></i>
        </a>
      </td>
      {% endif %}
      <td>
        {% if user.is_authenticated %}
        <a href="{% url 'ajouter_commentaire' content_type_id=content_type.id object_id=prescription.id %}" class="btn btn-info btn-sm">
         <i class="fas fa-plus"></i> <!-- Icône d'ajout -->
        </a>
        {% endif %}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3" class="text-center">Aucune prescription trouvée.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if user.is_authenticated and user.is_superuser %}
<a href="{% url 'ajouter_entite' 'prescription' %}" class="btn btn-primary">
  Ajouter
</a>
{% endif %}
{% endif %}

{% if dossiers %}
<h2>Liste des Dossiers</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Code</th>
      <th>ID Consultation</th>
      <th>Date d'Enregistrement</th>
      {% if user.is_authenticated and user.is_superuser %}
        <th>Actions</th>
      {% endif %}
      <th>Commentaires</th>
    </tr>
  </thead>
  <tbody>
    {% for dossier in dossiers %}
    <tr>
      <td>{{ dossier.code }}</td>
      <td>{{ dossier.idconsultation }}</td>
      <td>{{ dossier.date_enregistrement }}</td>
      {% if user.is_authenticated and user.is_superuser %}
      <td>
        <a href="{% url 'modifier_entite' 'dossier' dossier.id %}" class="btn btn-warning btn-sm me-2" title="Modifier">
          <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'supprimer_entite' 'dossier' dossier.id %}" class="btn btn-danger btn-sm" title="Supprimer">
          <i class="fas fa-trash-alt"></i>
        </a>
      </td>
      {% endif %}
      <td>
        {% if user.is_authenticated %}
        <a href="{% url 'ajouter_commentaire' content_type_id=content_type.id object_id=dossier.id %}" class="btn btn-info btn-sm">
         <i class="fas fa-plus"></i> <!-- Icône d'ajout -->
        </a>
        {% endif %}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4" class="text-center">Aucun dossier trouvé.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if user.is_authenticated and user.is_superuser %}
<a href="{% url 'ajouter_entite' 'dossier' %}" class="btn btn-primary">
  Ajouter
</a>
{% endif %}
{% endif %}

<a href="{% url 'index' %}" class="btn btn-secondary">
  <i class="fas fa-arrow-left"></i>
</a>

{% endblock %}
