

/* Style du conteneur du formulaire */
form {
    background-color: white; /* Fond blanc pour le formulaire */
    padding: 20px;
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
    width: 300px; /* Largeur fixe */
    margin: 0 auto; /* Centre le formulaire horizontalement */
}


/* Style des titres */
h2 {
    text-align: center;
    color: #333; /* Couleur du texte */
}

/* Style des paragraphes */
p {
    text-align: center;
}



/* Style des champs de saisie */
input[type="text"],
input[type="password"] {
    width: 100%; /* Prend toute la largeur */
    padding: 10px; /* Espacement intérieur */
    margin: 10px 0; /* Espacement vertical */
    border: 1px solid #ccc; /* Bordure légère */
    border-radius: 4px; /* Coins arrondis */
}

/* Style des liens */
a {
    color: #007bff; /* Couleur du lien */
    text-decoration: none; /* Pas de soulignement */
}

a:hover {
    text-decoration: underline; /* Soulignement au survol */
}
