/* Styles de base */
body {
    background-color: #f8f9fa; /* Fond clair et neutre */
    font-family: 'Roboto', sans-serif; /* Police lisible */
    color: #333; /* Texte sombre pour une bonne lisibilité */
    line-height: 1.6;
}

/* Hero Section */
.hero {
    background: linear-gradient(to right, #4CAF50, #8BC34A); /* Couleurs vertes apaisantes */
    color: white;
    padding: 40px 20px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 30px;
}




.list-group-item {
    text-align: center;
}


/* Section d'Information */
.section-info {
    background-color: #e3f2fd; /* Bleu très doux et apaisant */
    padding: 40px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

/* Services */
.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: transform 0.3s ease;
}

.service:hover {
    transform: scale(1.05); /* Légère animation au survol */
}

.icon-service {
    width: 50px;
    margin-bottom: 10px;
}

/* Cartes d'information */
.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px); /* Animation au survol */
}

/* Boutons */
.btn-cta {
    background-color: #0288D1; /* Bleu pour la confiance */
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 1.2em;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}

.btn-cta:hover {
    background-color: #0277BD; /* Couleur plus foncée au survol */
}

/* Bannière d'urgence */
.urgent-banner {
    background-color: #d32f2f; /* Rouge vif pour attirer l'attention */
    color: white;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

/* Formulaire de contact */
.contact-form {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}



/* Responsiveness */
@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 15px;
    }

    .hero {
        padding: 20px 10px;
    }
}
.navbar-dark .navbar-nav .nav-link {
    color: white !important;
  }
  