body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    margin: 0 auto; /* Centre horizontalement le conteneur */
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #4CAF50;
}




.form-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
}


.form-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
}

.forgot-password {
    float: right;
    font-size: 12px;
    color: #007bff;
    text-decoration: none;
    margin-top: -5px;
}

.forgot-password:hover {
    text-decoration: underline;
}

.form-group input[type="text"], 
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

.signup-link {
    margin-top: 20px;
    font-size: 14px;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}