{% extends "base.html" %} {% block title %}Confirmation{% endblock %} {% block
content %} {% load static %}
<link
  rel="stylesheet"
  href="{% static 'css/comptes/confirmation_reinitialisation_mot_de_passe.css' %}"
/>

<h2>Réinitialiser votre mot de passe</h2>
<p>Entrez un nouveau mot de passe.</p>

<form method="post">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Mettre à jour le mot de passe</button>
</form>

<p>
  Vous avez déjà un compte ?
  <a href="{% url 'connexion' %}">Connectez-vous ici</a>.
</p>
{% endblock %}
