
{% extends "base.html" %}

{% block title %}Se deconnecter{% endblock %}
  
    {% block content %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/comptes/confirmation_deconnexion.css' %}">

    <!-- Modal -->
    <div id="logoutModal" class="modal" style="display: block;"> <!-- Affiche le modal directement -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Confirmer la déconnexion</h2>
            <p>Êtes-vous sûr de vouloir vous déconnecter ?</p>
            
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn-confirm">Oui, me déconnecter</button>
                <a href="{% url 'index' %}" class="btn-cancel">Non</a>
            </form>
        </div>
    </div>

    <script src="{% static 'js/comptes/confirmation_deconnexion.js' %}"></script>

    {% endblock %}
