{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Profil utilisateur -->
        <div class="col-md-4 text-center">
            <div class="card shadow">
                <div class="card-body">
                    <img src="{% static 'images/logo.jpg' %}" class="rounded-circle img-fluid mb-3" style="width: 150px;" alt="Photo de Profil">
                    <h3 class="card-title">{{ user.username }}</h3>
                    <p class="card-text">{{ user.email }}</p>
                    <a href="{% url 'confirmer_deconnexion' %}" class="btn btn-danger mt-3">Se déconnecter</a>
                </div>
            </div>
        </div>

        <!-- Informations personnelles -->
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title mb-4">Informations Personnelles</h4>
                    <form>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label>Nom d'utilisateur</label>
                                <input type="text" readonly class="form-control" value="{{ user.username }}">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Email</label>
                                <input type="email" readonly class="form-control" value="{{ user.email }}">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Prénom</label>
                                <input type="text" readonly class="form-control" value="{{ user.first_name }}">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Nom</label>
                                <input type="text" readonly class="form-control" value="{{ user.last_name }}">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Dernière connexion</label>
                                <input type="text" readonly class="form-control" value="{{ user.last_login }}">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Date d'inscription</label>
                                <input type="text" readonly class="form-control" value="{{ user.date_joined }}">
                            </div>
                        </div>

                        <div class="text-center mt-4">
                            <a href="{% url 'edit_profile' %}" class="btn btn-primary">Modifier les informations</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
