{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}
  
    {% block content %}


<div class="container mt-5">
    <h1 class="text-center mb-4">Tableau de bord admin</h1>

    <div class="row justify-content-center">
      <!-- Carte des utilisateurs -->
      <div class="col-md-4 mb-3">
        <div class="card shadow-sm">
          <div class="card-body text-center">
            <h5 class="card-title">Total des utilisateurs</h5>
            <p class="card-text display-6">{{ total_utilisateurs }}</p>
          </div>
        </div>
      </div>

      <!-- Carte des commentaires -->
      <div class="col-md-4 mb-3">
        <div class="card shadow-sm">
          <div class="card-body text-center">
            <h5 class="card-title">Total des commentaires</h5>
            <p class="card-text display-6">{{ total_commentaires }}</p>
          </div>
        </div>
      </div>

      <!-- Carte des départements -->
      <div class="col-md-4 mb-3">
        <div class="card shadow-sm">
          <div class="card-body text-center">
            <h5 class="card-title">Total des départements</h5>
            <p class="card-text display-6">{{ total_departements }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <!-- Carte des médecins -->
      <div class="col-md-4 mb-3">
        <div class="card shadow-sm">
          <div class="card-body text-center">
            <h5 class="card-title">Total des médecins</h5>
            <p class="card-text display-6">{{ total_medecins }}</p>
          </div>
        </div>
      </div>

      <!-- Carte des patients -->
      <div class="col-md-4 mb-3">
        <div class="card shadow-sm">
          <div class="card-body text-center">
            <h5 class="card-title">Total des patients</h5>
            <p class="card-text display-6">{{ total_patients }}</p>
          </div>
        </div>
      </div>

      <!-- Carte des prescriptions -->
      <div class="col-md-4 mb-3">
        <div class="card shadow-sm">
          <div class="card-body text-center">
            <h5 class="card-title">Total des prescriptions</h5>
            <p class="card-text display-6">{{ total_prescriptions }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <!-- Carte des dossiers -->
      <div class="col-md-4 mb-3">
        <div class="card shadow-sm">
          <div class="card-body text-center">
            <h5 class="card-title">Total des dossiers</h5>
            <p class="card-text display-6">{{ total_dossiers }}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
